@import '../../../assets/Styles/';

.img-loading{
  width: 100px !important;
  animation: loadingE 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingE {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.loader{
  width : 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width:  22px;
    height:  22px;
    border-radius: 50%;
    border: 3px solid ;
    border-color: #FF3D00 transparent;
  }
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
